<h1> <%= @album.name %> </h1>
<br/>

<h3>Tracks</h3>
<% @album.tracks.each do |track| %>
  <h4><%= link_to track.title, track_url(track) %></h4>
<% end %>

<br/><br/>
<%= link_to "Create a new track", new_album_track_url(@album) %>
<br/>
<% if current_user.admin? %>
  <%= link_to "Delete album", album_url(@album), method: :delete %>
  <br/>
<% end %>
<%= link_to "Back to band", band_url(@album.band) %>
