<h1> <%= @band.name %> </h1>
<br/>

<h3>Albums</h3>
<% @band.albums.each do |album| %>
  <h4><%= link_to album.name, album_url(album) %></h4>
<% end %>

<br/><br/>
<%= link_to "Create a new album", new_band_album_url(@band) %>
<br/>
<% if current_user.admin? %>
  <%= link_to "Delete band", band_url(@band), method: :delete %>
  <br/>
<% end %>
<%= link_to "Back to all bands", bands_url %>
