<!DOCTYPE html>
<html>
<head>
  <title>PoorMansItunes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container"
    <div class="jumbotron">
      <% if flash[:error] %>
        <div class="info">
          <% if flash[:error].is_a?(Array) %>
            <% flash[:error].each do |error| %>
              <span class="error"><%= error %></span></br>
            <% end %>
          <% else %>
            <span class="error"><%= flash[:errors] %></span>
          <% end %>
        </div>
      <% end %>

      <% if flash[:notice] %>
        <div class="info">
          <span class="notice"><%= flash[:notice] %></span>
        </div>
      <% end %>

      <%= yield %>

      <%= render "shared/footer" unless @sign_in_page %>

    </div>
  </div>
</body>
</html>
