<!DOCTYPE html>
<html>
<head>
  <title>PoorMansItunes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash[:error].is_a?(Array) %>
    <% flash[:error].each do |error| %>
      <%= error %></br>
    <% end %>
  <% else %>
    <%= flash[:errors] %>
  <% end %>

  <%= yield %>

</body>
</html>
